
.backgroundLandingPage2{    
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-size: cover;
}
    /* BACKGROUND */

    #gradientFundo{
        position: relative;
        background-image: linear-gradient(180deg, #238A71 0%, #104747 54.58%, #092933 72.81%, #001018 87.4%, #000 100%);
        display: flex;
        justify-content: center;
        min-height: 800px;
    }

    #gradientFundo > img
    {
        align-self: flex-end;
        object-fit: cover;
        overflow-x: hidden;
        height: 266px;
    }

    #blockBlackForest
    {
        height: 700px;
        background-color: #000;
    }

    @media screen and (min-width:1200px){
        #gradientFundo > img{
            width: 110%;
        }
        
    } 