.imagensFornecedores{
  display: flex;
  width: 100%;
}

.imagensFornecedoresLateral{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}

.img_lateral_fornecedores img{
  height: 175px;
  width: auto;
  border-radius: 3%;
}

.card-fotos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-image:hover{
  transform: scale(1.08);
  transition: 0.6s;
}

.card-fotos p{
  color: rgba(218, 217, 217, 1);
  font-size: 15px;
}

.card-image { /* Set the width of the image */
  width: 500px; /* Maintain aspect ratio */
  height: 300px;
  border-radius: 3%;
  box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.75);
}

.card-line {
  width: 105%; /* Set the width of the line (adjust as needed) */
  border-bottom: 2px solid#1CB398; /* Define line appearance */
  margin-top: 18px; /* Adjust margin as needed */
}

.slider-container{
  width: 100%;
  max-width: 1120px;
  padding: 40px 0;
}
/* 
.carouselEquipe{
} */

.button-left, .button-right{
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  left: 0;

}

.item
{
  position: relative; 
  display: flex !important; 
  flex-direction: column;
  align-items: center;
  height: auto;
}

#equipe-image{
  position: absolute;
  height: 15%;
  max-width: 100%;
  border-radius: 50%;
  align-self: center;
  justify-self: flex-end;
}


.cardEquipe{
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  margin-top: 60px;
  background-color: #1CB398;
  width: 300px;
  height: 500px;
  margin-bottom: 50px;
  border-radius: 3%;
  transition: margin 0.4s ease;
  background-color: rgba(12, 116, 85, 1);
  border: 1px solid #EDE5E5;
  box-shadow: 0px 0px 30px -5px #0DFFB5;
}

.cardEquipe h1{
  padding-top: 35px;
  padding-bottom: 60px;
  text-align: center;
  color: #000;

  text-anchor: end;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cardEquipe p{
  display: flex;
  padding-bottom: 60px;
  text-align: center;
  font-size: 18px;
}

#card1 .cardEquipe{
  background-color: #786E9C;
  box-shadow: 0px 0px 30px -5px #A38FEB;
}

#card3 .cardEquipe{
  background-color: #AA7E3C;
  box-shadow: 0px 0px 30px -5px #FFA113;
}
